@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
  font-weight: 400;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-weight: 400;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/Muller/Muller-Trial-Regular.ttf") format("truetype"), url("../fonts/Muller/Muller-Trial-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/Muller/Muller-Trial-Medium.ttf") format("truetype"), url("../fonts/Muller/Muller-Trial-Medium.otf") format("opentype");
  font-weight: 500;
}
* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background: white;
  color: black;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  background: white;
  color: #272D4E;
}

.container {
  max-width: 1320px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.btn-pink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 64px;
  padding: 0 52px;
  background: #E579E8;
  color: white;
  font-family: "Volkhov", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.02em;
  border-radius: 50px;
  box-shadow: 0px 9px 20px -3px rgba(239, 84, 247, 0.33);
  transition: 0.3s ease-in-out all;
}
.btn-pink:hover {
  background: #d371d6;
}
.btn-white {
  box-shadow: 0 9px 20px -3px rgba(215, 215, 215, 0.33);
  background: #fff;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 18px;
  height: 68px;
  padding: 0 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #7454bd;
  border-radius: 60px;
  transition: 0.3s ease-in-out all;
}
.btn-white:hover {
  background: #fce7fd;
}

.tarif {
  padding: 180px 0;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .tarif {
    padding: 60px 0 0 0;
  }
}
.tarif_title {
  position: relative;
  z-index: 2;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 993px) {
  .tarif_title {
    margin-bottom: 28px;
    text-align: center;
  }
}
.tarif_title h3 {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  color: #1E1D4C;
}
@media screen and (max-width: 993px) {
  .tarif_title h3 {
    font-size: 28px;
    line-height: 140%;
  }
}
.tarif_title p {
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #A6A6A6;
}
@media screen and (max-width: 993px) {
  .tarif_title p {
    font-size: 14px;
    line-height: 140%;
  }
}
.tarif_cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  position: relative;
  max-width: 772px;
  margin: auto;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .tarif_cards {
    padding-top: 150px;
  }
}
@media screen and (max-width: 993px) {
  .tarif_cards {
    flex-direction: column-reverse;
    gap: 16px;
    padding-top: 0;
  }
}
.tarif_card {
  width: 374px;
  padding: 42px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 1.67px 2.84px 0px rgba(0, 0, 0, 0.0039215686);
  box-shadow: 0px 7.35px 5.88px 0px rgba(0, 0, 0, 0.0078431373), 0px 18.05px 11.73px 0px rgba(0, 0, 0, 0.0117647059), 0px 34.76px 22.99px 0px rgba(0, 0, 0, 0.0117647059), 0px 58.49px 42.28px 0px rgba(0, 0, 0, 0.0156862745), 0px 90.24px 72.19px 0px rgba(0, 0, 0, 0.0196078431);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 993px) {
  .tarif_card {
    width: 100%;
    border-radius: 17px;
  }
}
.tarif_card_title {
  text-align: center;
}
.tarif_card_title h3 {
  font-family: "Geologica", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: #1E1D4C;
  margin-bottom: 8px;
}
.tarif_card_title p {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #A6A6A6;
}
.tarif_card_price {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
.tarif_card_price h6 {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 140%;
  color: #1E1D4C;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.tarif_card_price h6 span {
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #A6A6A6;
  transform: translateY(10px);
}
.tarif_card_price .discount {
  padding: 10px 12px;
  border-radius: 1000px;
  background: #E579E8;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}
.tarif_card ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #FAF9FB;
  padding: 32px;
  border-radius: 10px;
}
.tarif_card ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tarif_card ul li img {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tarif_card ul li span {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1E1D4C;
}
.tarif_card ul a {
  margin-top: auto;
  font-family: "Geologica", sans-serif;
}
.tarif_card_pink {
  background-image: url("../images/card_pink_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 0;
  position: relative;
}
.tarif_card_pink .circle {
  position: absolute;
  z-index: 1;
  flex-shrink: 0;
  width: 600px;
  height: 600px;
  background: linear-gradient(166deg, #92a7ff 0%, #b37de9 100%);
  border-radius: 50%;
  display: none;
}
.tarif_card_pink .tarif_card_title {
  position: relative;
  z-index: 2;
}
.tarif_card_pink .tarif_card_title h3, .tarif_card_pink .tarif_card_title p {
  color: #fff;
}
.tarif_card_pink .tarif_card_price {
  position: relative;
  z-index: 2;
  margin: 32px 0 20px 0;
}
.tarif_card_pink .tarif_card_price h6 {
  color: #fff;
}
.tarif_card_pink .tarif_card_price h6 span {
  color: #fff;
}
.tarif_card_pink ul {
  position: relative;
  z-index: 2;
}
.tarif_card_reating {
  display: flex;
  flex-direction: column;
  gap: 66px;
  position: absolute;
  bottom: 218px;
  right: -200px;
}
@media screen and (max-width: 1200px) {
  .tarif_card_reating {
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 993px) {
  .tarif_card_reating {
    position: static;
    margin-bottom: 16px;
    gap: 20px;
  }
}
.tarif_card_reating .star {
  display: flex;
  align-items: center;
  gap: 3px;
}
.tarif_card_reating h6 {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1E1D4C;
  margin: 18px 0 15px 0;
}
.tarif_card_reating h6 b {
  font-weight: 700;
}
.tarif_card_reating p {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #A6A6A6;
}
.tarif .container {
  position: relative;
}
.tarif .tarif_img {
  position: absolute;
  left: -444px;
  bottom: -210px;
  width: 670px;
  height: 642px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .tarif .tarif_img {
    position: static;
    transform: translateY(20px);
    width: 100%;
  }
}
@media screen and (max-width: 993px) {
  .tarif .tarif_img {
    min-width: 437px;
    min-height: 419px;
    width: 437px;
    height: 419px;
    display: flex;
    flex-shrink: 0;
    margin: auto;
  }
}
@media screen and (max-width: 460px) {
  .tarif .tarif_img {
    transform: translate(-80px, 10px);
  }
}

.footer {
  padding: 100px 0;
  background: #FCF9FF;
}
@media screen and (max-width: 993px) {
  .footer {
    padding: 40px 0;
  }
}
.footer .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
}
@media screen and (max-width: 993px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
}
.footer_logo p {
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #5E6282;
  margin-top: 12px;
}
.footer_blocks {
  display: flex;
  align-items: start;
  gap: 60px;
}
@media screen and (max-width: 1200px) {
  .footer_blocks {
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .footer_blocks {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer_block h6 {
  font-family: "Geologica", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #1E1D4C;
  margin-bottom: 27px;
}
@media screen and (max-width: 768px) {
  .footer_block h6 {
    margin-bottom: 12px;
  }
}
.footer_block ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_block ul a {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #5E6282;
}
.footer_contact .social_media {
  display: flex;
  align-items: center;
  gap: 23px;
}
@media screen and (max-width: 768px) {
  .footer_contact .social_media {
    justify-content: center;
  }
}
.footer_contact .social_media a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 1.8px 9.02px 0px rgba(0, 0, 0, 0.1019607843);
}
.footer_contact p {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #5E6282;
  margin: 24px 0 17px 0;
}
@media screen and (max-width: 768px) {
  .footer_contact p {
    text-align: center;
  }
}
.footer_contact .market_link {
  display: flex;
  align-items: center;
  gap: 9px;
}
@media screen and (max-width: 768px) {
  .footer_contact .market_link {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */