@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
  font-weight: 400;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-weight: 400;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/Muller/Muller-Trial-Regular.ttf") format("truetype"), url("../fonts/Muller/Muller-Trial-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/Muller/Muller-Trial-Medium.ttf") format("truetype"), url("../fonts/Muller/Muller-Trial-Medium.otf") format("opentype");
  font-weight: 500;
}
* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background: white;
  color: black;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  background: white;
  color: #272D4E;
}

.container {
  max-width: 1320px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.btn-pink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 64px;
  padding: 0 52px;
  background: #E579E8;
  color: white;
  font-family: "Volkhov", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.02em;
  border-radius: 50px;
  box-shadow: 0px 9px 20px -3px rgba(239, 84, 247, 0.33);
  transition: 0.3s ease-in-out all;
}
.btn-pink:hover {
  background: #d371d6;
}
.btn-white {
  box-shadow: 0 9px 20px -3px rgba(215, 215, 215, 0.33);
  background: #fff;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 18px;
  height: 68px;
  padding: 0 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #7454bd;
  border-radius: 60px;
  transition: 0.3s ease-in-out all;
}
.btn-white:hover {
  background: #fce7fd;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
@media screen and (max-width: 992px) {
  .header-container {
    padding: 20px 0;
  }
}
@media screen and (max-width: 992px) {
  .header-logo img {
    width: 181px;
  }
}
.header-navs {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 992px) {
  .header-navs {
    display: none;
  }
}
.header-navs__link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #272d4e;
  transition: 0.2s ease-in-out all;
}
.header-navs__link:hover {
  color: #7854F7;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 992px) {
  .header-right {
    display: none;
  }
}
.header-right a {
  height: 54px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Geologica", sans-serif;
}
.header-right .btn-white {
  font-weight: 400;
  color: #272D4E;
}
.header .bars {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 992px) {
  .header .bars {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 5;
  padding: 30px 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .menu.active {
    display: flex;
  }
}
.menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.menu-close {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-navs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.menu-navs__link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #272d4e;
}
.menu-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (max-width: 420px) {
  .menu-bottom {
    width: 100%;
  }
}
.menu-bottom a {
  height: 54px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Geologica", sans-serif;
}
@media screen and (max-width: 420px) {
  .menu-bottom a {
    width: 100%;
  }
}
.menu-bottom .btn-white {
  font-weight: 400;
  color: #272D4E;
}

.home {
  position: relative;
  z-index: 1;
}
.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home-container {
  padding-bottom: 300px;
  min-height: 1074px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
@media screen and (max-width: 1200px) {
  .home-container {
    padding-bottom: 500px;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .home-container {
    padding: 93px 0 325px;
    min-height: inherit;
  }
}
.home-title {
  font-family: "Geologica", sans-serif;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #272d4e;
  margin-bottom: 33px;
}
@media screen and (max-width: 700px) {
  .home-title {
    font-size: 40px;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 700px) {
  .home .line {
    width: 314px;
  }
}
.home-description {
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #696984;
  opacity: 0.8;
  max-width: 569px;
  margin: 46px 0 50px;
}
@media screen and (max-width: 700px) {
  .home-description {
    margin: 28px 0 40px;
    font-size: 14px;
  }
}
.home .btn-pink {
  height: 72px;
  padding: 0 27px 0 31px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Geologica", sans-serif;
  gap: 10px;
}
.home .btn-pink .imgs {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0px;
  transform: rotateY(180deg);
}
.home .btn-pink .img {
  margin-right: -20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.home .btn-pink .icon {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 3px;
  width: 30px;
  height: 30px;
}
.home-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 700px) {
  .home-bottom {
    flex-direction: column;
  }
}
.home-bottom p {
  font-family: "Geologica", sans-serif;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #5d5d5d;
}
.home-bottom p a {
  color: #e579e8;
}
.home-card {
  position: absolute;
  bottom: 0;
  right: -274px;
  width: 911px;
  height: auto;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .home-card {
    right: 50%;
    transform: translateX(50%);
    width: 500px;
  }
}
@media screen and (max-width: 700px) {
  .home-card {
    width: 325px;
    min-width: 325px;
  }
}

.tarif {
  padding: 180px 0;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .tarif {
    padding: 60px 0 0 0;
  }
}
.tarif_title {
  position: relative;
  z-index: 2;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 993px) {
  .tarif_title {
    margin-bottom: 28px;
    text-align: center;
  }
}
.tarif_title h3 {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  color: #1E1D4C;
}
@media screen and (max-width: 993px) {
  .tarif_title h3 {
    font-size: 28px;
    line-height: 140%;
  }
}
.tarif_title p {
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #A6A6A6;
}
@media screen and (max-width: 993px) {
  .tarif_title p {
    font-size: 14px;
    line-height: 140%;
  }
}
.tarif_cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  position: relative;
  max-width: 772px;
  margin: auto;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .tarif_cards {
    padding-top: 150px;
  }
}
@media screen and (max-width: 993px) {
  .tarif_cards {
    flex-direction: column-reverse;
    gap: 16px;
    padding-top: 0;
  }
}
.tarif_card {
  width: 374px;
  padding: 42px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 1.67px 2.84px 0px rgba(0, 0, 0, 0.0039215686);
  box-shadow: 0px 7.35px 5.88px 0px rgba(0, 0, 0, 0.0078431373), 0px 18.05px 11.73px 0px rgba(0, 0, 0, 0.0117647059), 0px 34.76px 22.99px 0px rgba(0, 0, 0, 0.0117647059), 0px 58.49px 42.28px 0px rgba(0, 0, 0, 0.0156862745), 0px 90.24px 72.19px 0px rgba(0, 0, 0, 0.0196078431);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 993px) {
  .tarif_card {
    width: 100%;
    border-radius: 17px;
  }
}
.tarif_card_title {
  text-align: center;
}
.tarif_card_title h3 {
  font-family: "Geologica", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: #1E1D4C;
  margin-bottom: 8px;
}
.tarif_card_title p {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #A6A6A6;
}
.tarif_card_price {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
.tarif_card_price h6 {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 140%;
  color: #1E1D4C;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.tarif_card_price h6 span {
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #A6A6A6;
  transform: translateY(10px);
}
.tarif_card_price .discount {
  padding: 10px 12px;
  border-radius: 1000px;
  background: #E579E8;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}
.tarif_card ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #FAF9FB;
  padding: 32px;
  border-radius: 10px;
}
.tarif_card ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tarif_card ul li img {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tarif_card ul li span {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1E1D4C;
}
.tarif_card ul a {
  margin-top: auto;
  font-family: "Geologica", sans-serif;
}
.tarif_card_pink {
  background-image: url("../images/card_pink_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 0;
  position: relative;
}
.tarif_card_pink .circle {
  position: absolute;
  z-index: 1;
  flex-shrink: 0;
  width: 600px;
  height: 600px;
  background: linear-gradient(166deg, #92a7ff 0%, #b37de9 100%);
  border-radius: 50%;
  display: none;
}
.tarif_card_pink .tarif_card_title {
  position: relative;
  z-index: 2;
}
.tarif_card_pink .tarif_card_title h3, .tarif_card_pink .tarif_card_title p {
  color: #fff;
}
.tarif_card_pink .tarif_card_price {
  position: relative;
  z-index: 2;
  margin: 32px 0 20px 0;
}
.tarif_card_pink .tarif_card_price h6 {
  color: #fff;
}
.tarif_card_pink .tarif_card_price h6 span {
  color: #fff;
}
.tarif_card_pink ul {
  position: relative;
  z-index: 2;
}
.tarif_card_reating {
  display: flex;
  flex-direction: column;
  gap: 66px;
  position: absolute;
  bottom: 218px;
  right: -200px;
}
@media screen and (max-width: 1200px) {
  .tarif_card_reating {
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 993px) {
  .tarif_card_reating {
    position: static;
    margin-bottom: 16px;
    gap: 20px;
  }
}
.tarif_card_reating .star {
  display: flex;
  align-items: center;
  gap: 3px;
}
.tarif_card_reating h6 {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1E1D4C;
  margin: 18px 0 15px 0;
}
.tarif_card_reating h6 b {
  font-weight: 700;
}
.tarif_card_reating p {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #A6A6A6;
}
.tarif .container {
  position: relative;
}
.tarif .tarif_img {
  position: absolute;
  left: -444px;
  bottom: -210px;
  width: 670px;
  height: 642px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .tarif .tarif_img {
    position: static;
    transform: translateY(20px);
    width: 100%;
  }
}
@media screen and (max-width: 993px) {
  .tarif .tarif_img {
    min-width: 437px;
    min-height: 419px;
    width: 437px;
    height: 419px;
    display: flex;
    flex-shrink: 0;
    margin: auto;
  }
}
@media screen and (max-width: 460px) {
  .tarif .tarif_img {
    transform: translate(-80px, 10px);
  }
}

.partners {
  background: linear-gradient(166deg, #849cff 0%, #8a5fb6 100%);
  position: relative;
  z-index: 1;
}
.partners-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.partners-container {
  max-width: 1272px;
}
.partners ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  gap: 32px;
}
@media screen and (max-width: 992px) {
  .partners ul {
    width: 100%;
    align-items: flex-start;
    overflow-x: scroll;
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 20px;
  }
  .partners ul::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .partners li {
    flex-shrink: 0;
  }
}
@media screen and (max-width: 992px) {
  .partners li:nth-child(1) img {
    width: 145px;
  }
}
@media screen and (max-width: 992px) {
  .partners li:nth-child(2) img {
    width: 116.84px;
  }
}
@media screen and (max-width: 992px) {
  .partners li:nth-child(3) img {
    width: 163.37px;
  }
}
@media screen and (max-width: 992px) {
  .partners li:nth-child(4) img {
    width: 124.7px;
  }
}
@media screen and (max-width: 992px) {
  .partners li:nth-child(5) img {
    width: 158.37px;
  }
}

.choose {
  padding: 180px 0 210px;
}
@media screen and (max-width: 700px) {
  .choose {
    padding: 102px 0 60px;
  }
}
.choose-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #14183e;
}
@media screen and (max-width: 700px) {
  .choose-title {
    font-size: 28px;
  }
}
.choose-title span {
  font-weight: 600;
  color: #7454bd;
}
.choose-description {
  text-align: center;
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #696984;
  opacity: 0.8;
  margin-bottom: 68px;
}
@media screen and (max-width: 700px) {
  .choose-description {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
.choose-card {
  padding: 29px 25px 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.2s ease-in-out all;
  border-radius: 32px;
}
.choose-card:hover {
  position: relative;
  z-index: 1;
}
.choose-card:hover::before {
  content: "";
  border-radius: 27px 0 9px 0;
  width: 85px;
  height: 90px;
  background: #e579e8;
  position: absolute;
  z-index: -1;
  left: -24px;
  bottom: -30px;
}
.choose-card:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  z-index: -1;
}
.choose-card__wrap {
  display: grid;
  gap: 24px;
  align-items: flex-start;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media screen and (max-width: 1200px) {
  .choose-card__wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 700px) {
  .choose-card__wrap {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
}
.choose-card .icon {
  width: 75px;
  height: 75px;
  border-radius: 37px;
  fill: #fbfbfb;
  box-shadow: 0 15px 44px 0 rgba(13, 15, 28, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose-card h3 {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #1e1d4c;
  margin: 30px 0 13px;
}
.choose-card p {
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #5e6282;
}

.about {
  position: relative;
  z-index: 1;
  padding: 138px 0 144px;
}
@media screen and (max-width: 700px) {
  .about {
    padding: 0 0 72px;
  }
}
.about-bg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  min-width: 1920px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media screen and (max-width: 700px) {
  .about-bg {
    display: none;
  }
}
.about-bg.mb {
  display: none;
}
@media screen and (max-width: 700px) {
  .about-bg.mb {
    display: block;
    min-width: 772px;
  }
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: 195px;
}
@media screen and (max-width: 1200px) {
  .about-container {
    gap: 60px;
    align-items: center;
  }
}
.about h3 {
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 548px;
}
@media screen and (max-width: 700px) {
  .about h3 {
    font-size: 24px;
  }
}
.about p {
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 480px;
  margin: 20px 0 32px;
}
@media screen and (max-width: 700px) {
  .about p {
    font-size: 16px;
  }
}
.about a {
  font-family: "Geologica", sans-serif;
  width: 256px;
}
@media screen and (max-width: 700px) {
  .about a {
    width: 100%;
  }
}
.about-head {
  margin-left: 553px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .about-head {
    margin-left: 0;
  }
}
@media screen and (max-width: 700px) {
  .about-head {
    width: 100%;
  }
}
.about-head .main-img {
  position: absolute;
  left: -78px;
  top: -138px;
  transform: translateX(-100%);
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .about-head .main-img {
    position: relative;
    left: 31px;
    top: 0;
    transform: translateX(0);
    margin-bottom: 47px;
  }
}
@media screen and (max-width: 700px) {
  .about-head .main-img {
    top: 0px;
  }
}
.about-head .main-img__item:nth-child(1) {
  width: 430px;
  height: 548px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .about-head .main-img__item:nth-child(1) {
    border-radius: 13px;
    width: 281px;
    height: 359px;
  }
}
.about-head .main-img__item:nth-child(2) {
  border-radius: 20px;
  width: 372px;
  height: 474px;
  filter: blur(50px);
  position: absolute;
  left: 29px;
  bottom: -23px;
  z-index: -1;
}
@media screen and (max-width: 700px) {
  .about-head .main-img__item:nth-child(2) {
    border-radius: 13px;
    width: 243px;
    height: 310px;
    left: 19px;
    bottom: -15px;
  }
}
.about-head .main-img .icon {
  position: absolute;
  right: 205px;
  bottom: -29px;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .about-head .main-img .icon {
    right: auto;
    left: 231px;
  }
}
@media screen and (max-width: 700px) {
  .about-head .main-img .icon {
    width: 72px;
  }
}
.about-head .main-img .alert {
  border-radius: 20px;
  width: 365px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 1;
  left: -183px;
  top: 118px;
  padding: 22.04px 27.03px 21.28px 28.74px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #7454bd;
}
@media screen and (max-width: 1200px) {
  .about-head .main-img .alert {
    left: -31px;
    top: 219px;
  }
}
@media screen and (max-width: 700px) {
  .about-head .main-img .alert {
    border-radius: 13px;
    width: 239px;
    font-size: 12px;
    padding: 14px 18px;
  }
  .about-head .main-img .alert img {
    width: 58px;
  }
}
.about-head .main-img .alert span {
  font-weight: 500;
}
.about-bottom {
  margin-left: 290px;
  position: relative;
  z-index: 1;
  max-width: 527px;
}
@media screen and (max-width: 1200px) {
  .about-bottom {
    margin: 0;
  }
}
.about-bottom .main-img {
  position: absolute;
  right: -27px;
  top: -95px;
  transform: translateX(100%);
}
@media screen and (max-width: 1200px) {
  .about-bottom .main-img {
    position: relative;
    right: auto;
    left: 19px;
    transform: translateX(0);
    width: auto;
    top: 0px;
    margin-bottom: 31px;
  }
}
.about-bottom .main-img__item:nth-child(1) {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  width: 430px;
  height: 548px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 700px) {
  .about-bottom .main-img__item:nth-child(1) {
    border-radius: 15px;
    width: 316px;
    height: 402px;
  }
}
.about-bottom .main-img__item:nth-child(2) {
  border-radius: 20px;
  width: 398px;
  height: 508px;
  filter: blur(70px);
  box-shadow: inset 0 -16px 23px 0 rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: -1;
  left: -16px;
  bottom: -31px;
}
@media screen and (max-width: 700px) {
  .about-bottom .main-img__item:nth-child(2) {
    border-radius: 14px;
    width: 278px;
    height: 354px;
    left: 19px;
    bottom: -10px;
  }
}
.about-bottom .main-img .icon {
  position: absolute;
  right: -33.82px;
  top: 75px;
  border-radius: 100%;
  box-shadow: 0 4px 40px 0 rgba(47, 50, 125, 0.1);
}
@media screen and (max-width: 1200px) {
  .about-bottom .main-img .icon {
    right: 66px;
  }
}
@media screen and (max-width: 700px) {
  .about-bottom .main-img .icon {
    width: 68px;
    right: auto;
    left: 272px;
  }
}
.about-bottom .main-img .icon-2 {
  border-radius: 20px;
  width: 138px;
  height: 138px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: -1;
  top: -26px;
  left: -26px;
}
@media screen and (max-width: 700px) {
  .about-bottom .main-img .icon-2 {
    border-radius: 15px;
    width: 101px;
    height: 101px;
    left: -19.11px;
    top: -19.11px;
  }
}

.footer {
  padding: 100px 0;
  background: #FCF9FF;
}
@media screen and (max-width: 993px) {
  .footer {
    padding: 40px 0;
  }
}
.footer .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
}
@media screen and (max-width: 993px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
}
.footer_logo p {
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #5E6282;
  margin-top: 12px;
}
.footer_blocks {
  display: flex;
  align-items: start;
  gap: 60px;
}
@media screen and (max-width: 1200px) {
  .footer_blocks {
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .footer_blocks {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer_block h6 {
  font-family: "Geologica", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #1E1D4C;
  margin-bottom: 27px;
}
@media screen and (max-width: 768px) {
  .footer_block h6 {
    margin-bottom: 12px;
  }
}
.footer_block ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_block ul a {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #5E6282;
}
.footer_contact .social_media {
  display: flex;
  align-items: center;
  gap: 23px;
}
@media screen and (max-width: 768px) {
  .footer_contact .social_media {
    justify-content: center;
  }
}
.footer_contact .social_media a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 1.8px 9.02px 0px rgba(0, 0, 0, 0.1019607843);
}
.footer_contact p {
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #5E6282;
  margin: 24px 0 17px 0;
}
@media screen and (max-width: 768px) {
  .footer_contact p {
    text-align: center;
  }
}
.footer_contact .market_link {
  display: flex;
  align-items: center;
  gap: 9px;
}
@media screen and (max-width: 768px) {
  .footer_contact .market_link {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */