@import './normalize',
        './global';

* {
    font-family: $font-inter;
    font-weight: 400;
}

body {
    background: white;
    color: black;
    font-weight: 400;
    font-family: $font-inter;
    background: white;
    color: #272D4E;
}

.container {
    max-width: 1320px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.btn {
    &-pink {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 64px;
        padding: 0 52px;
        background: #E579E8;
        color: white;
        font-family: $font-volkhov;
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.02em;
        border-radius: 50px;
        box-shadow: 0px 9px 20px -3px rgba(239, 84, 247, 0.33);
        transition: .3s ease-in-out all;
        
        &:hover {
            background: #d371d6;
        }
    }

    &-white {
        box-shadow: 0 9px 20px -3px rgba(215, 215, 215, 0.33);
        background: #fff;
        font-family: $font-geologica;
        font-weight: 600;
        font-size: 18px;
        height: 68px;
        padding: 0 52px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #7454bd;
        border-radius: 60px;
        transition: .3s ease-in-out all;
        
        &:hover {
            background: #fce7fd;
        }
    }
}

// Header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;

        @include media(992) {
            padding: 20px 0;
        }
    }

    &-logo {
        img {
            @include media(992) {
                width: 181px;
            }
        }
    }

    &-navs {
        display: flex;
        align-items: center;
        gap: 32px;

        @include media(992) {
            display: none;
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: $font-geologica;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #272d4e;
            transition: .2s ease-in-out all;

            &:hover {
                color: #7854F7;
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 16px;

        @include media(992) {
            display: none;
        }

        a {
            height: 54px;
            padding: 0 32px;
            font-size: 16px;
            font-weight: 500;
            font-family: $font-geologica;
        }

        .btn-white {
            font-weight: 400;
            color: #272D4E;
        }
    }

    .bars {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        @include media(-992) {
            display: none;
        }
    }
}
// Header end

// menu
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 5;
    padding: 30px 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    &.active {
        @include media(992) {
            display: flex;
        }
    }

    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &-close {
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-navs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        &__link {
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: $font-geologica;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #272d4e;
            
        }
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        @include media(420) {
            width: 100%;
        }

        a {
            height: 54px;
            padding: 0 32px;
            font-size: 16px;
            font-weight: 500;
            font-family: $font-geologica;

            @include media(420) {
                width: 100%;
            }
        }

        .btn-white {
            font-weight: 400;
            color: #272D4E;
        }
    }
}
// menu end

// Home
.home {
    position: relative;
    z-index: 1;
    
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    &-container {
        padding-bottom: 300px;
        min-height: 1074px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        @include media(1200) {
            padding-bottom: 500px;
            align-items: center;
            text-align: center;
        }

        @include media(700) {
            padding: 93px 0 325px;
            min-height: inherit;
        }
    }

    &-title {
        font-family: $font-geologica;
        font-size: 72px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #272d4e;
        margin-bottom: 33px;

        @include media(700) {
            font-size: 40px;
            margin-bottom: 26px;
        }
    }
    
    .line {
        @include media(700) {
            width: 314px;
        }
    }

    &-description {
        font-family: $font-geologica;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #696984;
        opacity: 0.8;
        max-width: 569px;
        margin: 46px 0 50px;

        @include media(700) {
            margin: 28px 0 40px;
            font-size: 14px;
        }
    }

    .btn-pink {
        height: 72px;
        padding: 0 27px 0 31px;
        font-weight: 500;
        font-size: 16px;
        font-family: $font-geologica;
        gap: 10px;

        .imgs {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 0px;
            transform: rotateY(180deg);
        }

        .img {
            margin-right: -20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .icon {
            background: rgba(255, 255, 255, 0.9);
            border: 1px solid #fff;
            border-radius: 15px;
            padding: 3px;
            width: 30px;
            height: 30px;            
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        gap: 20px;

        @include media(700) {
            flex-direction: column;
        }

        p {
            font-family: $font-geologica;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #5d5d5d;

            a {
                color: #e579e8;
            }
        }
    }

    &-card {
        position: absolute;
        bottom: 0;
        right: -274px;
        width: 911px;
        height: auto;
        z-index: -1;

        @include media(1200) {
            right: 50%;
            transform: translateX(50%);
            width: 500px;
        }

        @include media(700) {
            width: 325px;
            min-width: 325px;
        }
    }
}
// Home end

// Partners
.partners {
    background: linear-gradient(166deg, #849cff 0%, #8a5fb6 100%);
    position: relative;
    z-index: 1;

    &-bg {
        position: absolute;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-container {
        max-width: 1272px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        gap: 32px;

        @include media(992) {
            width: 100%;
            align-items: flex-start;
            overflow-x: scroll;
            width: calc(100% + 40px);
            margin-left: -20px;
            padding: 20px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    li {
        @include media(992) {
            flex-shrink: 0;
        }

        &:nth-child(1) img {
            @include media (992) {
                width: 145px;
            }
        }
        
        &:nth-child(2) img {
            @include media (992) {
                width: 116.84px;
            }
        }
        
        &:nth-child(3) img {
            @include media (992) {
                width: 163.37px;
            }
        }
        
        &:nth-child(4) img {
            @include media (992) {
                width: 124.7px;
            }
        }
        
        &:nth-child(5) img {
            @include media (992) {
                width: 158.37px;
            }
        }
    }
}
// Partners end

// Choose
.choose {
    padding: 180px 0 210px;

    @include media(700) {
        padding: 102px 0 60px;
    }

    &-title {
        text-align: center;
        margin-bottom: 20px;
        font-family: $font-geologica;
        font-weight: 600;
        font-size: 44px;
        line-height: 140%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #14183e;

        @include media(700) {
            font-size: 28px;
        }
        
        span {
            font-weight: 600;
            color: #7454bd;
        }
    }

    &-description {
        text-align: center;
        font-family: $font-geologica;
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #696984;
        opacity: 0.8;
        margin-bottom: 68px;

        @include media(700) {
            font-size: 14px;
            margin-bottom: 40px;
        }
    }

    &-card {
        padding: 29px 25px 51px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: .2s ease-in-out all;
        border-radius: 32px;

        &:hover {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                border-radius: 27px 0 9px 0;
                width: 85px;
                height: 90px;
                background: #e579e8;
                position: absolute;
                z-index: -1;
                left: -24px;
                bottom: -30px;
            }
            
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 32px;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
                background: #fff;
                z-index: -1;
            }
        }

        &__wrap {
            display: grid;
            gap: 24px;
            align-items: flex-start;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            
            @include media(1200) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            
            @include media(700) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: 20px;
            }
        }

        .icon {
            width: 75px;
            height: 75px;
            border-radius: 37px;
            fill: #fbfbfb;
            box-shadow: 0 15px 44px 0 rgba(13, 15, 28, 0.12);            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            font-family: $font-geologica;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #1e1d4c;
            margin: 30px 0 13px;
        }

        p {
            font-family: $font-geologica;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #5e6282;
        }
    }
}
// Choose end

// About
.about {
    position: relative;
    z-index: 1;
    padding: 138px 0 144px;

    @include media(700) {
        padding: 0 0 72px;
    }

    &-bg {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        min-width: 1920px;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        @include media(700) {
            display: none;
        }

        &.mb {
            display: none;

            @include media(700) {
                display: block;
                min-width: 772px;
            }
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 195px;

        @include media(1200) {
            gap: 60px;
            align-items: center;
        }
    }

    h3 {
        font-family: $font-geologica;
        font-weight: 600;
        font-size: 44px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #fff;
        max-width: 548px;

        @include media(700) {
            font-size: 24px;
        }
    }

    p {
        font-family: $font-geologica;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #fff;
        max-width: 480px;
        margin: 20px 0 32px;

        @include media(700) {
            font-size: 16px;
        }
    }

    a {
        font-family: $font-volkhov;
        width: 256px;

        @include media(700) {
            width: 100%;
        }
    }

    &-head {
        margin-left: 553px;
        position: relative;
        z-index: 1;

        @include media(1200) {
            margin-left: 0;
        }

        @include media(700) {
            width: 100%;
        }

        .main-img {
            position: absolute;
            left: -78px;
            top: -138px;
            transform: translateX(-100%);
            z-index: -1;

            @include media(1200) {
                position: relative;
                left: 31px;
                top: 0;
                transform: translateX(0);
                margin-bottom: 47px;
            }

            @include media(700) {
                top: 0px;
            }

            &__item {
                &:nth-child(1) {
                    width: 430px;
                    height: 548px;
                    border-radius: 20px;
                    object-fit: cover;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
                    position: relative;
                    z-index: 1;

                    @include media(700) {
                        border-radius: 13px;
                        width: 281px;
                        height: 359px;                        
                    }
                }

                &:nth-child(2) {
                    border-radius: 20px;
                    width: 372px;
                    height: 474px;
                    filter: blur(50px);
                    position: absolute;
                    left: 29px;
                    bottom: -23px;
                    z-index: -1;

                    @include media(700) {
                        border-radius: 13px;
                        width: 243px;
                        height: 310px;
                        left: 19px;
                        bottom: -15px;
                    }
                }
            }

            .icon {
                position: absolute;
                right: 205px;
                bottom: -29px;
                z-index: 2;

                @include media(1200) {
                    right: auto;
                    left: 231px;
                }

                @include media(700) {
                    width: 72px;
                }
            }

            .alert {
                border-radius: 20px;
                width: 365px;
                backdrop-filter: blur(20px);
                background: rgba(255, 255, 255, 0.8);
                position: absolute;
                z-index: 1;
                left: -183px;
                top: 118px;
                padding: 22.04px 27.03px 21.28px 28.74px;
                display: flex;
                align-items: center;
                gap: 4px;
                font-family: $font-geologica;
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -0.02em;
                color: #7454bd;

                @include media(1200) {
                    left: -31px;
                    top: 219px;
                }

                @include media(700) {
                    border-radius: 13px;
                    width: 239px;
                    font-size: 12px;
                    padding: 14px 18px;
                    
                    img {
                        width: 58px;
                    }
                }
                
                span {
                    font-weight: 500;
                }
            }
        }
    }

    &-bottom {
        margin-left: 290px;
        position: relative;
        z-index: 1;
        max-width: 527px;

        @include media(1200) {
            margin: 0;
        }

        .main-img {
            position: absolute;
            right: -27px;
            top: -95px;
            transform: translateX(100%);

            @include media(1200) {
                position: relative;
                right: auto;
                left: 19px;
                transform: translateX(0);
                width: auto;
                top: 0px;
                margin-bottom: 31px;
            }

            &__item {
                &:nth-child(1) {
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
                    border-radius: 20px;
                    width: 430px;
                    height: 548px;
                    object-fit: cover;

                    @include media(700) {
                        border-radius: 15px;
                        width: 316px;
                        height: 402px;
                    }
                }

                &:nth-child(2) {
                    border-radius: 20px;
                    width: 398px;
                    height: 508px;
                    filter: blur(70px);
                    box-shadow: inset 0 -16px 23px 0 rgba(255, 255, 255, 0.6);
                    position: absolute;
                    z-index: -1;
                    left: -16px;
                    bottom: -31px;

                    @include media(700) {
                        border-radius: 14px;
                        width: 278px;
                        height: 354px;
                        left: 19px;
                        bottom: -10px;
                    }
                }
            }

            .icon {
                position: absolute;
                right: -33.82px;
                top: 75px;
                border-radius: 100%;
                box-shadow: 0 4px 40px 0 rgba(47, 50, 125, 0.1);

                @include media(1200) {
                    right: 66px;
                }

                @include media(700) {
                    width: 68px;
                    right: auto;
                    left: 272px;
                }
                
                &-2 {
                    border-radius: 20px;
                    width: 138px;
                    height: 138px;
                    backdrop-filter: blur(20px);
                    background: rgba(255, 255, 255, 0.8);
                    position: absolute;
                    z-index: -1;
                    top: -26px;
                    left: -26px;
    
                    @include media(700) {
                        border-radius: 15px;
                        width: 101px;
                        height: 101px;
                        left: -19.11px;
                        top: -19.11px;
                    }
                }
            }
        }
    }
}
// About end

// Footer
.footer {}
// Footer end