@import './normalize',
        './global';

* {
    font-family: $font-inter;
    font-weight: 400;
}

body {
    background: white;
    color: black;
    font-weight: 400;
    font-family: $font-inter;
    background: white;
    color: #272D4E;
}

.container {
    max-width: 1320px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.btn {
    &-pink {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 64px;
        padding: 0 52px;
        background: #E579E8;
        color: white;
        font-family: $font-volkhov;
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.02em;
        border-radius: 50px;
        box-shadow: 0px 9px 20px -3px rgba(239, 84, 247, 0.33);
        transition: .3s ease-in-out all;

        &:hover {
            background: #d371d6;
        }
    }

    &-white {
        box-shadow: 0 9px 20px -3px rgba(215, 215, 215, 0.33);
        background: #fff;
        font-family: $font-geologica;
        font-weight: 600;
        font-size: 18px;
        height: 68px;
        padding: 0 52px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #7454bd;
        border-radius: 60px;
        transition: .3s ease-in-out all;

        &:hover {
            background: #fce7fd;
        }
    }
}

// Header
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;

        @include media(992) {
            padding: 20px 0;
        }
    }

    &-logo {
        img {
            @include media(992) {
                width: 181px;
            }
        }
    }

    &-navs {
        display: flex;
        align-items: center;
        gap: 32px;

        @include media(992) {
            display: none;
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: $font-geologica;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #272d4e;
            transition: .2s ease-in-out all;

            &:hover {
                color: #7854F7;
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 16px;

        @include media(992) {
            display: none;
        }

        a {
            height: 54px;
            padding: 0 32px;
            font-size: 16px;
            font-weight: 500;
            font-family: $font-geologica;
        }

        .btn-white {
            font-weight: 400;
            color: #272D4E;
        }
    }

    .bars {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        @include media(-992) {
            display: none;
        }
    }
}
// Header end

// menu
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 5;
    padding: 30px 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    &.active {
        @include media(992) {
            display: flex;
        }
    }

    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &-close {
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-navs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        &__link {
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: $font-geologica;
            font-weight: 300;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #272d4e;
            
        }
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        @include media(420) {
            width: 100%;
        }

        a {
            height: 54px;
            padding: 0 32px;
            font-size: 16px;
            font-weight: 500;
            font-family: $font-geologica;

            @include media(420) {
                width: 100%;
            }
        }

        .btn-white {
            font-weight: 400;
            color: #272D4E;
        }
    }
}
// menu end

// Home
.home {
    position: relative;
    z-index: 1;
    
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    &-container {
        padding-bottom: 300px;
        min-height: 1074px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        @include media(1200) {
            padding-bottom: 500px;
            align-items: center;
            text-align: center;
        }

        @include media(700) {
            padding: 93px 0 325px;
            min-height: inherit;
        }
    }

    &-title {
        font-family: $font-geologica;
        font-size: 72px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #272d4e;
        margin-bottom: 33px;

        @include media(700) {
            font-size: 40px;
            margin-bottom: 26px;
        }
    }
    
    .line {
        @include media(700) {
            width: 314px;
        }
    }

    &-description {
        font-family: $font-geologica;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #696984;
        opacity: 0.8;
        max-width: 569px;
        margin: 46px 0 50px;

        @include media(700) {
            margin: 28px 0 40px;
            font-size: 14px;
        }
    }

    .btn-pink {
        height: 72px;
        padding: 0 27px 0 31px;
        font-weight: 500;
        font-size: 16px;
        font-family: $font-geologica;
        gap: 10px;

        .imgs {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 0px;
            transform: rotateY(180deg);
        }

        .img {
            margin-right: -20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .icon {
            background: rgba(255, 255, 255, 0.9);
            border: 1px solid #fff;
            border-radius: 15px;
            padding: 3px;
            width: 30px;
            height: 30px;            
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        gap: 20px;

        @include media(700) {
            flex-direction: column;
        }

        p {
            font-family: $font-geologica;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #5d5d5d;

            a {
                color: #e579e8;
            }
        }
    }

    &-card {
        position: absolute;
        bottom: 0;
        right: -274px;
        width: 911px;
        height: auto;
        z-index: -1;

        @include media(1200) {
            right: 50%;
            transform: translateX(50%);
            width: 500px;
        }

        @include media(700) {
            width: 325px;
            min-width: 325px;
        }
    }
}
// Home end

// tarif
.tarif {
    padding: 180px 0;
    overflow: hidden;

    @include media(1200) {
        padding: 60px 0 0 0;
    }

    &_title {
        position: relative;
        z-index: 2;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include media(993) {
            margin-bottom: 28px;
            text-align: center;
        }

        h3 {
            font-family: $font-geologica;
            font-weight: 600;
            font-size: 44px;
            line-height: 140%;
            color: #1E1D4C;

            @include media(993) {
                font-size: 28px;
                line-height: 140%;
            }
        }

        p {
            font-family: $font-geologica;
            font-weight: 300;
            font-size: 20px;
            line-height: 140%;
            color: #A6A6A6;

            @include media(993) {
                font-size: 14px;
                line-height: 140%;
            }
        }
    }

    &_cards {
        display: flex;
        justify-content: center;
        gap: 24px;
        position: relative;
        max-width: 772px;
        margin: auto;
        z-index: 2;

        @include media(1200) {
            padding-top: 150px;
        }

        @include media(993) {
            flex-direction: column-reverse;
            gap: 16px;
            padding-top: 0;
        }
    }

    &_card {
        width: 374px;
        padding: 42px 20px 20px 20px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 1.67px 2.84px 0px #00000001;
        box-shadow: 0px 7.35px 5.88px 0px #00000002, 0px 18.05px 11.73px 0px #00000003, 0px 34.76px 22.99px 0px #00000003, 0px 58.49px 42.28px 0px #00000004, 0px 90.24px 72.19px 0px #00000005;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include media(993) {
            width: 100%;
            border-radius: 17px;
        }

        &_title {
            text-align: center;

            h3 {
                font-family: $font-geologica;
                font-weight: 700;
                font-size: 30px;
                line-height: 140%;
                color: #1E1D4C;
                margin-bottom: 8px;
            }

            p {
                font-family: $font-geologica;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: #A6A6A6;
            }
        }

        &_price {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 6px;

            h6 {
                font-family: $font-geologica;
                font-weight: 600;
                font-size: 50px;
                line-height: 140%;
                color: #1E1D4C;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                span {
                    font-family: $font-geologica;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 140%;
                    color: #A6A6A6;
                    transform: translateY(10px);
                }
            }

            .discount {
                padding: 10px 12px;
                border-radius: 1000px;
                background: #E579E8;
                font-family: $font-geologica;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                color: #fff;
            }
        }

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            background: #FAF9FB;
            padding: 32px;
            border-radius: 10px;

            li {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                }

                span {
                    font-family: $font-geologica;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    color: #1E1D4C;
                }
            }

            a {
                margin-top: auto;
                font-family: $font-geologica;
            }
        }
    }

    &_card_pink {
        // background: linear-gradient(91.71deg, #92A7FF -38.83%, #B37DE9 111.41%);
        background-image: url('../images/card_pink_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        gap: 0;
        position: relative;

        .circle {
            position: absolute;
            z-index: 1;
            flex-shrink: 0;
            width: 600px;
            height: 600px;
            background: linear-gradient(166deg, #92a7ff 0%, #b37de9 100%);
            border-radius: 50%;
            display: none;
        }

        .tarif_card_title {
            position: relative;
            z-index: 2;
            h3, p {
                color: #fff;
            }
        }

        .tarif_card_price {
            position: relative;
            z-index: 2;
            margin: 32px 0 20px 0;

            h6 {
                color: #fff;

                span {
                    color: #fff;
                }
            }
        }

        ul {
            position: relative;
            z-index: 2;
        }
    }

    &_card_reating {
        display: flex;
        flex-direction: column;
        gap: 66px;
        position: absolute;
        bottom: 218px;
        right: -200px;

        @include media(1200) {
            top: 0;
            left: 0;
            right: 0;
            bottom: auto;
            flex-direction: row;
            justify-content: center;
        }

        @include media(993) {
            position: static;
            margin-bottom: 16px;
            gap: 20px;
        }

        .star {
            display: flex;
            align-items: center;
            gap: 3px;
        }

        h6 {
            font-family: $font-geologica;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #1E1D4C;
            margin: 18px 0 15px 0;

            b {
                font-weight: 700;
            }
        }

        p {
            font-family: $font-geologica;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            color: #A6A6A6;
        }
    }

    .container {
        position: relative;
    }

    .tarif_img {
        position: absolute;
        left: -444px;
        bottom: -210px;
        width: 670px;
        height: 642px;
        object-fit: contain;

        @include media(1200) {
            position: static;
            transform: translateY(20px);
            width: 100%;
        }

        @include media(993) {
            min-width: 437px;
            min-height: 419px;
            width: 437px;
            height: 419px;
            display: flex;
            flex-shrink: 0;
            margin: auto;
        }

        @include media(460) {
            transform: translate(-80px, 10px);
        }
    }
}
// tarif

// Partners
.partners {
    background: linear-gradient(166deg, #849cff 0%, #8a5fb6 100%);
    position: relative;
    z-index: 1;

    &-bg {
        position: absolute;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-container {
        max-width: 1272px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        gap: 32px;

        @include media(992) {
            width: 100%;
            align-items: flex-start;
            overflow-x: scroll;
            width: calc(100% + 40px);
            margin-left: -20px;
            padding: 20px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    li {
        @include media(992) {
            flex-shrink: 0;
        }

        &:nth-child(1) img {
            @include media (992) {
                width: 145px;
            }
        }
        
        &:nth-child(2) img {
            @include media (992) {
                width: 116.84px;
            }
        }
        
        &:nth-child(3) img {
            @include media (992) {
                width: 163.37px;
            }
        }
        
        &:nth-child(4) img {
            @include media (992) {
                width: 124.7px;
            }
        }
        
        &:nth-child(5) img {
            @include media (992) {
                width: 158.37px;
            }
        }
    }
}
// Partners end

// Choose
.choose {
    padding: 180px 0 210px;

    @include media(700) {
        padding: 102px 0 60px;
    }

    &-title {
        text-align: center;
        margin-bottom: 20px;
        font-family: $font-geologica;
        font-weight: 600;
        font-size: 44px;
        line-height: 140%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #14183e;

        @include media(700) {
            font-size: 28px;
        }
        
        span {
            font-weight: 600;
            color: #7454bd;
        }
    }

    &-description {
        text-align: center;
        font-family: $font-geologica;
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #696984;
        opacity: 0.8;
        margin-bottom: 68px;

        @include media(700) {
            font-size: 14px;
            margin-bottom: 40px;
        }
    }

    &-card {
        padding: 29px 25px 51px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: .2s ease-in-out all;
        border-radius: 32px;

        &:hover {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                border-radius: 27px 0 9px 0;
                width: 85px;
                height: 90px;
                background: #e579e8;
                position: absolute;
                z-index: -1;
                left: -24px;
                bottom: -30px;
            }
            
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 32px;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
                background: #fff;
                z-index: -1;
            }
        }

        &__wrap {
            display: grid;
            gap: 24px;
            align-items: flex-start;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            
            @include media(1200) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            
            @include media(700) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: 20px;
            }
        }

        .icon { 
            width: 75px;
            height: 75px;
            border-radius: 37px;
            fill: #fbfbfb;
            box-shadow: 0 15px 44px 0 rgba(13, 15, 28, 0.12);            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            font-family: $font-geologica;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #1e1d4c;
            margin: 30px 0 13px;
        }

        p {
            font-family: $font-geologica;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #5e6282;
        }
    }
}
// Choose end

// About
.about {
    position: relative;
    z-index: 1;
    padding: 138px 0 144px;

    @include media(700) {
        padding: 0 0 72px;
    }

    &-bg {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        min-width: 1920px;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        @include media(700) {
            display: none;
        }

        &.mb {
            display: none;

            @include media(700) {
                display: block;
                min-width: 772px;
            }
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 195px;

        @include media(1200) {
            gap: 60px;
            align-items: center;
        }
    }

    h3 {
        font-family: $font-geologica;
        font-weight: 600;
        font-size: 44px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #fff;
        max-width: 548px;

        @include media(700) {
            font-size: 24px;
        }
    }

    p {
        font-family: $font-geologica;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #fff;
        max-width: 480px;
        margin: 20px 0 32px;

        @include media(700) {
            font-size: 16px;
        }
    }

    a {
        font-family: $font-volkhov;
        width: 256px;

        @include media(700) {
            width: 100%;
        }
    }

    &-head {
        margin-left: 553px;
        position: relative;
        z-index: 1;

        @include media(1200) {
            margin-left: 0;
        }

        @include media(700) {
            width: 100%;
        }

        .main-img {
            position: absolute;
            left: -78px;
            top: -138px;
            transform: translateX(-100%);
            z-index: -1;

            @include media(1200) {
                position: relative;
                left: 31px;
                top: 0;
                transform: translateX(0);
                margin-bottom: 47px;
            }

            @include media(700) {
                top: 0px;
            }

            &__item {
                &:nth-child(1) {
                    width: 430px;
                    height: 548px;
                    border-radius: 20px;
                    object-fit: cover;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
                    position: relative;
                    z-index: 1;

                    @include media(700) {
                        border-radius: 13px;
                        width: 281px;
                        height: 359px;                        
                    }
                }

                &:nth-child(2) {
                    border-radius: 20px;
                    width: 372px;
                    height: 474px;
                    filter: blur(50px);
                    position: absolute;
                    left: 29px;
                    bottom: -23px;
                    z-index: -1;

                    @include media(700) {
                        border-radius: 13px;
                        width: 243px;
                        height: 310px;
                        left: 19px;
                        bottom: -15px;
                    }
                }
            }

            .icon {
                position: absolute;
                right: 205px;
                bottom: -29px;
                z-index: 2;

                @include media(1200) {
                    right: auto;
                    left: 231px;
                }

                @include media(700) {
                    width: 72px;
                }
            }

            .alert {
                border-radius: 20px;
                width: 365px;
                backdrop-filter: blur(20px);
                background: rgba(255, 255, 255, 0.8);
                position: absolute;
                z-index: 1;
                left: -183px;
                top: 118px;
                padding: 22.04px 27.03px 21.28px 28.74px;
                display: flex;
                align-items: center;
                gap: 4px;
                font-family: $font-geologica;
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -0.02em;
                color: #7454bd;

                @include media(1200) {
                    left: -31px;
                    top: 219px;
                }

                @include media(700) {
                    border-radius: 13px;
                    width: 239px;
                    font-size: 12px;
                    padding: 14px 18px;
                    
                    img {
                        width: 58px;
                    }
                }
                
                span {
                    font-weight: 500;
                }
            }
        }
    }

    &-bottom {
        margin-left: 290px;
        position: relative;
        z-index: 1;
        max-width: 527px;

        @include media(1200) {
            margin: 0;
        }

        .main-img {
            position: absolute;
            right: -27px;
            top: -95px;
            transform: translateX(100%);

            @include media(1200) {
                position: relative;
                right: auto;
                left: 19px;
                transform: translateX(0);
                width: auto;
                top: 0px;
                margin-bottom: 31px;
            }

            &__item {
                &:nth-child(1) {
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
                    border-radius: 20px;
                    width: 430px;
                    height: 548px;
                    object-fit: cover;

                    @include media(700) {
                        border-radius: 15px;
                        width: 316px;
                        height: 402px;
                    }
                }

                &:nth-child(2) {
                    border-radius: 20px;
                    width: 398px;
                    height: 508px;
                    filter: blur(70px);
                    box-shadow: inset 0 -16px 23px 0 rgba(255, 255, 255, 0.6);
                    position: absolute;
                    z-index: -1;
                    left: -16px;
                    bottom: -31px;

                    @include media(700) {
                        border-radius: 14px;
                        width: 278px;
                        height: 354px;
                        left: 19px;
                        bottom: -10px;
                    }
                }
            }

            .icon {
                position: absolute;
                right: -33.82px;
                top: 75px;
                border-radius: 100%;
                box-shadow: 0 4px 40px 0 rgba(47, 50, 125, 0.1);

                @include media(1200) {
                    right: 66px;
                }

                @include media(700) {
                    width: 68px;
                    right: auto;
                    left: 272px;
                }
                
                &-2 {
                    border-radius: 20px;
                    width: 138px;
                    height: 138px;
                    backdrop-filter: blur(20px);
                    background: rgba(255, 255, 255, 0.8);
                    position: absolute;
                    z-index: -1;
                    top: -26px;
                    left: -26px;
    
                    @include media(700) {
                        border-radius: 15px;
                        width: 101px;
                        height: 101px;
                        left: -19.11px;
                        top: -19.11px;
                    }
                }
            }
        }
    }
}
// About end

// Footer
.footer {
    padding: 100px 0;
    background: #FCF9FF;

    @include media(993) {
        padding: 40px 0;
    }

    .container {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 32px;

        @include media(993) {
            flex-direction: column;
            align-items: center;
        }
    }

    &_logo {
        p {
            font-family: $font-geologica;
            font-weight: 500;
            font-size: 12px;
            line-height: 140%;
            color: #5E6282;
            margin-top: 12px;
        }
    }

    &_blocks {
        display: flex;
        align-items: start;
        gap: 60px;

        @include media(1200) {
            gap: 32px;
        }

        @include media(768) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &_block {
        h6 {
            font-family: $font-geologica;
            font-weight: 700;
            font-size: 18px;
            color: #1E1D4C;
            margin-bottom: 27px;

            @include media(768) {
                margin-bottom: 12px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                font-family: $font-geologica;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #5E6282;
            }
        }
    }

    &_contact {
        .social_media {
            display: flex;
            align-items: center;
            gap: 23px;

            @include media(768) {
                justify-content: center;
            }

            a {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                background: #fff;
                box-shadow: 0px 1.8px 9.02px 0px #0000001A;
            }
        }

        p {
            font-family: $font-geologica;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #5E6282;
            margin: 24px 0 17px 0;

            @include media(768) {
                text-align: center;
            }
        }

        .market_link {
            display: flex;
            align-items: center;
            gap: 9px;

            @include media(768) {
                justify-content: center;
            }
        }
    }
}
// Footer end
